<template name="navigation">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Qlicker</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
      {{#if currentUser}}
        <li class="active"><a href="{{pathFor 'newCourse'}}">New Course</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li> 
        <li><a href="#">Page 3</a></li> 
      {{/if}}
      </ul>
    </div>
  </div>
</nav>

  <div class="row">
    <div class="col-md-12">
        <div class="col-md-6 col-md-offset-3 column">
          {{#if currentUser}}
            <button class="btn btn-danger logout"> Logout</button>
         {{/if}}
        </div>
    </div>
  </div>
</template>


