<template name="navigation">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
       <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Qlicker</a>
       </div>
    </div>
    <div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      {{#if currentUser}}
        <li><a href="/Logout">Logout</a></li> 
        {{> navlinks}}
      {{/if}}
      </ul>
</div>
    </div>
  </div>
</nav>

</template>


