<template name="newCourse">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div class="col-sm-6 col-sm-offset-3 column">
          <h4> Create a new course:</h4>
          <form class="newCourse" role="form">
            <div class="form-group">
	      <input type="text" name="name" class="form-control" placeholder="Course name (e.g. phys250)" value="" required>
	    </div>
            <div class="form-group">
              <input type="text" name="enrollKey" class="form-control" placeholder="Enrollment key" value="" >
            </div>
            <div class="form-group">
              <input type="text" name="semester" class="form-control" placeholder="Semester (e.g. Winter)" value="" required> 
            </div>
            <div class="form-group">
              <input type="digits" name="year" class="form-control" placeholder="Year" value="" required>
            </div>
          <button type="submit" class="btn btn-primary btn-block">Create!</button>
          </form>
        </div>
    </div>
  </div>
</div>

</template>
