<template name="newQuestion">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div class="col-sm-6 col-sm-offset-3 column">
          <h4> Create a new question:</h4>
          <form action="/file-upload" class="dropzone" id="dropzone"></form>

          <form class="newQuestion" role="form">
            <div class="form-group">
              <label class="checkbox-inline">
              <input type="checkbox" name="isPublic" value="" {{checkedIfLoggedIntoCourse}}>Make public
              </label>
            </div>

            <div class="form-group">
              <label for="selectCourse">Choose course (this will change which course you're logged into)</label>
              <select class="form-control selectCourse" name="selectCourse" id="selectCourse">
              <option value=""> Choose course</option>
              {{#each availableCourses}}
                <option value="{{_id}}" {{selectIfLoggedIn _id}}>{{name}} ({{semester}} {{year}})</option>
              {{/each}}
              </select>
            </div>

            <div class="form-group">
              {{ >dropzone url='/users/' maxfiles=1 id='dropZoneDiv' dictDefaultMessage='Drag and drop or click to upload an image' }}
            </div>

            <div class="form-group">
	      <input type="text" name="qtitle" class="form-control" placeholder="Question" value="">
	    </div>

            <div class="form-group">
               <label for="imageFile">
               <span class="glyphicon glyphicon-picture"></span></label>
               <div class="upload-drop-zone" id="drop-zone">
                 Drag and drop an image
               </div>
            </div>

           {{#each answers}}
             <div class="form-group">
             {{#if moreThanOneAnswer}}
             <label >{{letter}}.</label>
             <label class="checkbox-inline"><input type="checkbox" name={{ansid}}_correct value="">correct answer</label>
             {{/if}}
                <input type="text" name="{{ansid}}" id="{{ansid}}" class="form-control" placeholder="Answer" value="">
             </div>
           {{/each}}

           <div class="form-group">
              <button class="btn btn-default addAnswerButton" >
               <span class="glyphicon glyphicon-plus"></span>
              </button>
              {{#if moreThanOneAnswer}}
              <button class="btn btn-default removeAnswerButton" >
               <span class="glyphicon glyphicon-minus"></span>
              </button>
              {{/if}}
            </div>

          <button type="submit" class="btn btn-primary btn-block">Create!</button>
          </form>
        </div>
    </div>
  </div>
</div>

</template>
