<template name="newQuestion">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div class="col-sm-6 col-sm-offset-3 column">
          <h4> Create a new question:</h4>
          <form class="newCourse" role="form">
            <div class="form-group">
	      <input type="text" name="qtitle" class="form-control" placeholder="Question" value="" required>
	    </div>
          <button type="submit" class="btn btn-primary btn-block">Create!</button>
          </form>
        </div>
    </div>
  </div>
</div>

</template>
