<template name="newQuestion">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div class="col-sm-6 col-sm-offset-3 column">
          <h4> Create a new question:</h4>
          <div class="btn-group" style="margin-bottom:5px">
              <button class="btn mcButton" style="">Mult. choice</button>
              <button class="btn tfButton" style="background:#F0F0F0;">True/False</button>
              <button class="btn ynButton" style="">Yes/No</button>
          </div>

          {{#if imageUploaded}}
            <img class="img-responsive" src="{{fileUrl}}"/>
            <button class="btn btn-danger deleteImageButton"> Delete!</button>            
          {{else}}
            <form action="/file-upload" class="dropzone" id="dropzone"></form>
          {{/if}}

          <form class="newQuestion" role="form">
            <div class="form-group">
              <label class="checkbox-inline">
              <input type="checkbox" name="isPublic" value="" {{checkedIfLoggedIntoCourse}}>Make public
              </label>
            </div>

            <div class="form-group">
              <label for="selectCourse">Choose course (this will change which course you're logged into)</label>
              <select class="form-control selectCourse" name="selectCourse" id="selectCourse">
              <option value=""> Public question</option>
              {{#each availableCourses}}
                <option value="{{_id}}" {{selectIfLoggedIn _id}}>{{name}} ({{semester}} {{year}})</option>
              {{/each}}
              </select>
            </div>


            <div class="form-group">
	      <input type="text" name="qtitle" class="form-control" placeholder="Question" value="">
	    </div>


           {{#each answers}}
             <div class="form-group">
             {{#if moreThanOneAnswer}}
             <label >{{letter}}.</label>
             <label class="checkbox-inline"><input type="checkbox" name={{ansid}}_correct value="">correct answer</label>
             {{/if}}
                <input type="text" name="{{ansid}}" id="{{ansid}}" class="form-control" placeholder="Answer" value="">
             </div>
           {{/each}}

           <div class="form-group">
              <button class="btn btn-default addAnswerButton" >
               <span class="glyphicon glyphicon-plus"></span>
              </button>
              {{#if moreThanOneAnswer}}
              <button class="btn btn-default removeAnswerButton" >
               <span class="glyphicon glyphicon-minus"></span>
              </button>
              {{/if}}
            </div>

          <button type="submit" class="btn btn-primary btn-block">Create!</button>
          </form>
        </div>
    </div>
  </div>
</div>

</template>
