<template name="questionInSession">
<div row>
<div class="col-sm-6 col-sm-offset-3 column">
<img class="img-responsive" src="{{fileUrl}}" />

<button type="button" class="btn btn-default btn-block"> {{qtitle}}</button>
    {{#each answers}}
      <button type="button" class="btn btn-primary btn-block answerButton" name={{ansId}} data-toggle="button">
       {{ans}} 
      </button>
      {{#if showVotes}}
        <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{percentVotes}}%;">
          {{votes}}
          </div>
        </div>
      {{/if}}
      
    {{/each}}

{{#if showSubmit}}
  <button type="button" class="btn btn-success submitQuestionButton">submit</button>
{{/if}}
  </div>
</div>
</template>



<template name="questionNoSubmit">
<div row>
<div class="col-sm-12 column">
<button type="button" class="btn btn-default btn-block"> {{qtitle}}</button>
    {{#each answers}}
      <button type="button" class="btn btn-primary btn-block answerButton" name={{ansId}} data-toggle="button">
       {{ans}} {{#if showVotes}}  (Votes: {{votes}}) {{/if}}
      </button>
    {{/each}}
</div>
</div>
</template>




<template name="questionNoAnswer">
<div class="col-sm-6 col-sm-offset-3 column">
  <button type="button" class="btn btn-default "> <button class="delete">&times;</button>  {{qtitle}}</button>
</div>
</template>


