<template name="questionInSession">
<div row  style=" margin-bottom: 12px; margin-top:12px; ">
<img class="img-responsive center-block" src="{{fileUrl}}" />

<button type="button" class="btn btn-default btn-block"> {{qtitle}}</button>
    {{#each answers}}
      <button type="button" class="btn btn-primary btn-block answerButton" name={{ansId}} data-toggle="button">
       {{ans}}
       {{#if showFeedback}}
         <i class="{{showAnswerFeedback ansId}}"></i>
       {{/if}} 
      </button>
      {{#if showVotes}}
        <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{percentVotes ansId}}%;">
          {{numVotes ansId}}
          </div>
        </div>
      {{/if}}
      
    {{/each}}

{{#if showSubmit}}
  <button type="button" class="btn btn-success submitQuestionButton">submit</button>
{{/if}}
  </div>
</template>



<template name="questionNoSubmit">
<div row  style=" margin-bottom: 12px; margin-top:12px; ">
  <img class="img-responsive center-block" src="{{fileUrl}}" />
  <button type="button" class="btn btn-default btn-block"> {{qtitle}}</button>
  {{#each answers}}
    <button type="button" class="btn btn-primary btn-block answerButton" name={{ansId}} data-toggle="button">
    {{ans}} 
    </button>
  {{/each}}
</div>
</template>




<template name="questionNoAnswer">
<div class="col-sm-6 col-sm-offset-3 column">
  <button type="button" class="btn btn-default "> <button class="delete">&times;</button>  {{qtitle}}</button>
</div>
</template>


