<template name="register">

{{>loginRegisterTab}}

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
        <div class="col-xs-8 col-xs-offset-2 column">
          <form class="register" role="form">
            <div class="form-group">
	      <input type="email" name="email" class="form-control input-lg" placeholder="Email" value="" required>
	    </div>
            <div class="form-group">
              <input type="text" name="firstName" class="form-control input-lg" placeholder="First Name" value="" required>
            </div>
            <div class="form-group">
              <input type="text" name="lastName" class="form-control input-lg" placeholder="Last Name" value="" required>
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control input-lg" placeholder="Password" value="" required> 
            </div>
            <div class="form-group">
              <input type="password" name="passwordconf" class="form-control input-lg" placeholder="Confirm password" value="" required>
            </div>
          <button type="submit" class="btn btn-success btn-block">Register</button>
          </form>
        </div>
    </div>
  </div>
</div>
</template>
