<template name="sessionRun">
<h1>Course: {{course.name}} session: {{session.sessionNumber}} </h1>
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-6 column">
      <h4>Session view:</h4>
      {{>session this}}
    </div>


    <div class="col-sm-6 column">
      <h4>Session Management</h4>
      <br>List of questions in session:<br>
      <br><button class="btn editSessionButton">Edit</button><br>


      {{#each questionsInSession}}
        {{>questionInSessionControl this}}
      {{/each}}

    </div>
  </div>
</div>
</template>
