<template name="sessionRun">
<h1>Course: {{course.name}} session: {{session.sessionNumber}} </h1>
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-6 column">
      <h4>Session view:</h4>
      {{>session this}}
    </div>


    <div class="col-sm-6 column">
      <h4>Session Management</h4>
      <a href="/session/stop/{{_id}}" class="btn btn btn-danger"><span class="glyphicon glyphicon-stop"></span>Stop!</a>
      <br><a href="session/edit/{{_id}}">Edit</a><br>
      <br>List of questions in session:<br>


      {{#each questionsInSession}}
        {{>questionInSessionControl this}}
      {{/each}}

    </div>
  </div>
</div>
</template>
