<template name="sessionInCourseList">
<h3>Session List</h3>
  {{#each sessions}}
  <div class="row" style="display:flex; align-items:center; margin-top:12px; margin-bottom:12px; background:{{backgroundColor}} ;">
    <div class="column col-sm-6 ">
        <button class="btn btn-primary viewSessionButton">Session {{sessionNumber}}</button>
        {{#if isOwner}}
          <div class="btn-group ">
            {{#if isActive}}
              <div class="btn-group">
                <button class="btn btn-success deactivateSessionButton">De-activate</button>
              </div>
            {{else}}
              <div class="btn-group">
                <button class="btn btn-danger activateSessionButton">Activate</button>
              </div>
            {{/if}}
            <div class="btn-group">
              <button class="btn btn-warning  editSessionButton"><span class="glyphicon glyphicon-pencil"></span>  Edit</button>
            </div>
            {{#if isActive}}
              <div class="btn-group">
                <button class="btn btn-info runSessionButton"><span class="glyphicon glyphicon-play"></span>  Run</button>
              </div>
            {{else}}
              <div class="btn-group">
                <button class="btn btn-danger deleteSessionButton"><span class="glyphicon glyphicon-trash"></span>  Delete</button>
              </div>
            {{/if}}
 
          </div>
        {{/if}}
      </div>
    </div>
  {{/each}}  

  {{#if isOwner}}
  <div class="row" style="display:flex; align-items:center; margin-top:12px; margin-bottom:12px;">
    <div class="column col-sm-6 ">
        <button class="btn btn-default btn-block newSessionButton">
          <span class="glyphicon glyphicon-plus"></span> New session
        </button>
    </div>
  </div>
  {{/if}}
</template>
